h1 {
  font-family: "Montserrat";
  font-weight: 600;
}

body {
}

.date {
  font-family: "Roboto";
  color: rgb(127, 219, 255);
}

.post-container .post {
  margin-left: 50px;
  margin-right: 50px;
}

.post-container {
  background-color: #e8e8e8;
  width: 70%;
  border-im;
  height: 100%;
  margin-left: 15%;
  margin-right: 15%;
}
